[flake8]
exclude =
    .git,
    .venv/*,
    .pytest_cache/*,
    dist/*,
    build/*,
    */__pycache__/*,
max-line-length = 180
ignore = E203, # Whitespace before ':'
         E265, # block comment should start with '# '
         W503, # Line break occurred before a binary operator
